.dish_catalog_section {
  position: relative;
  background-color: $color-bg-secondary;
  @include flex();

  .dish_catalog_wrapper {
    text-align: center;

    .dish_catalog_desc {
      margin: 2rem auto;
      width: 33%;
    }

    .dish_catalog_filter {
      margin-block: 2rem;
      @include flex();
      gap: 1rem;
      cursor: pointer;

      .dish_item {
        padding: 8px 18px;
        background-color: $color-white;
        font-weight: 500;

        &:first-child {
          background-color: $color-btn-primary;
          color: $color-white;
        }
      }
    }

    .dish_menu_card_container {
      @include flex($wrap: wrap);
      gap: 2rem;
      text-align: left;

      .dish_menu_card {
        background-color: $color-white;
        padding: 2.19rem;

        .dish_item_banner {
          position: relative;
          @include flex($direction: column, $align: flex-start);
          margin-bottom: 1rem;

          .badge {
            font-size: 0.83rem;
            padding: 3px 10px;
            background-color: $color-btn-secondary;
            color: $color-white;
            font-weight: bold;
          }
        }

        .dish_name {
          font-family: $ff-rubik;
          // font-weight: 600;
          margin-block: 0.7rem;
        }

        .dish_price_wrapper {
          @include flex($justify: flex-start);
          gap: 0.8rem;

          .dish-text {
            font-size: 0.9rem;
            font-weight: 700;
          }

          .price-text {
            text-transform: uppercase;
            color: $color-btn-secondary;
          }

          .price {
            color: $color-btn-primary;
          }

          .del {
            color: $color-text-secondary;
          }
        }
      }
    }
  }
}
