html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff-roboto;
  line-height: 1.3;
  font-size: 1.125rem;
  font-weight: 400;
  overflow-x: hidden;
}

/* Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: $color-btn-primary;
  // border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-track {
  background-color: $color-white;
}

// Spacing
.container {
  max-width: 1200px;
  margin: 0 auto;
  // padding-inline: 1.4rem;

  // &--pall {
  //   padding-top: 4.375rem;
  //   padding-right: 1.5rem;
  //   padding-bottom: 4.375rem;
  //   padding-left: 1.5rem;
  // }
  // &--py {
  //   padding-top: 4.375rem;
  //   padding-bottom: 4.375rem;
  // }
  // &--px {
  //   padding-right: 1.5rem;
  //   padding-left: 1.5rem;
  // }
  // &--pt {
  //   padding-top: 4.375rem;
  // }
  // &--pr {
  //   padding-right: 1.5rem;
  // }
  // &--pb {
  //   padding-bottom: 4.375rem;
  // }
  // &--pl {
  //   padding-left: 1.5rem;
  // }
}

h1,
h2,
h3 {
  font-family: $ff-rubik;
  font-weight: 700;
  line-height: 1;
  color: $color-dark;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2rem;
}

h2,
h2.title {
  font-size: 2.5rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.4rem;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: $text-title-primary;
  font-size: 1.05rem;
}

li {
  list-style: none;
}

.btn {
  font-family: $ff-roboto;
  font-size: 0.9rem;
  display: inline-block;
  padding: 0.9rem 35px;
  cursor: pointer;
  border: none;
}

.btn-success {
  color: $color-text-inverse;
  background-color: $color-btn-primary;
  font-weight: bold;
  transition: all 0.5s ease-in-out;

  &:hover {
    color: $color-text-primary;
    background-color: $color-text-inverse;
  }
}

.btn-danger {
  padding-block: 0.8rem;
  color: $color-text-inverse;
  background-color: $color-btn-secondary;
  font-weight: bold;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $color-btn-primary;
  }
}

.btn-danger-sm {
  padding: 0.5rem 1rem;
  color: $color-text-inverse;
  background-color: $color-btn-secondary;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.br-radius {
  border-radius: 50px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.heading {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: $color-text-primary;
  font-weight: 700;

  & span {
    color: $color-btn-primary;
  }
}

.span {
  color: $color-btn-primary;
}
