header {
  position: absolute;
  border-block-end: 1px solid $color-border-light;
  padding-block: 20px;
  width: 100%;
  top: 0;
  z-index: 1;
  .header {
    @include flex($justify: center);
    gap: 2rem;

    &_title {
      color: $color-text-inverse;
    }

    &_menu {
      flex: 1;
      &_links {
        @include flex($justify: flex-end);
        gap: 2.5rem;
      }
    }
  }
}
