.header {
  @include flex(row, space-between, center, nowrap);
  padding-block: 1.2rem;
  background: $primary-background;
  border-bottom: 2px solid $lightGray;

  &_title {
    font-family: "LibreCaslon";
    font-weight: bolder;
    color: $primary-text;
    font-size: 1.6rem;
    font-weight: 900;
  }

  &_menu {
    @include flex(row, space-between, center, nowrap);

    @include breakpoint("md") {
      display: none;
    }

    &_links {
      display: flex;
      &_item {
        font-size: 0.8rem;
        margin-right: 3.5rem;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }

  &_btn {
    @include breakpoint("md") {
      display: none;
    }
  }

  .menu_btn {
    display: none;
    margin-right: 2rem;
    img {
      width: 40px;
      height: 40px;
    }
    @include breakpoint("md") {
      display: block;
    }
  }

  .mobile_menu {
    display: none;
    position: fixed;
    top: 65px;
    left: -100%;
    width: 100%;
    background-color: $primary-background;
    z-index: 100;
    padding: 2rem;
    transition: all 0.5s ease-in-out;
    @include flex(row, center, center, nowrap);

    &_links {
      @include flex(column, center, center, nowrap);
      text-align: center;
      gap: 2rem;
    }
  }

  .open_menu {
    display: block;
    left: 0px;
  }
}
