.hero-section {
  width: 100%;
  height: calc(100vh - 80.375px);
  @include flex(column, center, center, nowrap);

  &_wrapper {
    position: relative;
    height: 100%;
    gap: 1rem;
    @include flex(column, center, center, nowrap);
    @include breakpoint("xxs") {
      gap: 1rem;
    }

    &_title {
      width: 100%;
      @include flex(row, center, center, nowrap);
      gap: 1.5rem;
      @include breakpoint("xxs") {
        justify-content: space-between;
      }

      h1 {
        font-family: "LibreCaslon";
        font-size: 9.4rem;

        @include breakpoint("lg") {
          font-size: 8rem;
        }
        @include breakpoint("md") {
          font-size: 6.7rem;
        }
        @include breakpoint("sm") {
          font-size: 6rem;
        }
        @include breakpoint("xs") {
          font-size: 5rem;
        }
        @include breakpoint("xxs") {
          font-size: 4rem;
        }
      }

      h2 {
        display: inline-block;
        font-family: ui-monospace !important;
        font-weight: 100;
        font-style: normal;
        font-size: 13rem;
        align-self: flex-start;

        @include breakpoint("xxs") {
          font-size: 7rem;
        }
      }

      p {
        width: 19%;

        @include breakpoint("lg") {
          width: 21%;
        }
        @include breakpoint("xs") {
          width: 25%;
        }
      }
    }

    .align-start {
      gap: 3.5rem;

      @include breakpoint("lg") {
        gap: 2.5rem;
      }
      @include breakpoint("xs") {
        gap: 2rem;
      }
      p {
        @include breakpoint("xxs") {
          width: 40%;
        }
      }
    }
  }
  &_scroll-area {
    position: absolute;
    right: 10px;
    bottom: 20px;

    @include breakpoint("md") {
      display: none;
    }

    .scroll-btn {
      background-color: $primary-text;
      a {
        color: $white;
        border-radius: 1.3rem;
      }
    }
  }
}
