// Colors

/* Text colors */
$color-text-primary: #0d1216; /* Main text */
$color-text-secondary: #787878; /* Supporting text */
$color-text-inverse: #ffffff; /* Text on dark backgrounds */

$text-gray-light: #bababa; /* Muted or secondary text */
$text-gray-dark: #999999; /* Primary text */

$text-title-primary: #f1d6c6;
$text-title-secondary: #e8ccbb;

$color-white: #ffffff;
$color-dark: #000000;

/* Background colors */
$color-bg-primary: #ffffff; /* Main background */
$color-bg-secondary: #f9f6f0; /* Section or card background */
$color-bg-accent: #fafafa; /* Light background accent */

/* Button colors */
$color-btn-primary: #ff8d29;
$color-btn-secondary: #f42f25;
$color-btn-accent: #ff9d2e;

/* Border colors */
$color-border-light: #dddddd;
$color-border-dark: #333333;

//Font Family
$ff-roboto: "Roboto", sans-serif;
$ff-rubik: "Rubik", sans-serif;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
