/* Text colors */
/* Main text */
/* Supporting text */
/* Text on dark backgrounds */
/* Muted or secondary text */
/* Primary text */
/* Background colors */
/* Main background */
/* Section or card background */
/* Light background accent */
/* Button colors */
/* Border colors */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Regular.woff2") format("woff2");
  font-weight: 400; /* Regular */
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Medium.woff2") format("woff2");
  font-weight: 500; /* Medium */
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-SemiBold.woff2") format("woff2");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Bold.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-ExtraBold.woff2") format("woff2");
  font-weight: 800; /* Bold */
  font-style: normal;
}
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  font-size: 1.125rem;
  font-weight: 400;
  overflow-x: hidden;
}

/* Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #ff8d29;
}

/* Handle on hover */
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #000000;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2rem;
}

h2,
h2.title {
  font-size: 2.5rem;
  line-height: 1.2;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #f1d6c6;
  font-size: 1.05rem;
}

li {
  list-style: none;
}

p {
  color: #787878;
  line-height: 1.6;
  font-size: 1rem;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  display: inline-block;
  padding: 0.9rem 35px;
  cursor: pointer;
  border: none;
}

.btn-success {
  color: #ffffff;
  background-color: #ff8d29;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.btn-success:hover {
  color: #0d1216;
  background-color: #ffffff;
}

.btn-danger {
  padding-block: 0.8rem;
  color: #ffffff;
  background-color: #f42f25;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.btn-danger:hover {
  background-color: #ff8d29;
}

.btn-danger-sm {
  padding: 0.5rem 1rem;
  color: #ffffff;
  background-color: #f42f25;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.br-radius {
  border-radius: 50px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.heading {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #0d1216;
  font-weight: 700;
}
.heading span {
  color: #ff8d29;
}

.span {
  color: #ff8d29;
}

.texture::after {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0px;
  background-image: url("../img/asset 31.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 3;
}

header {
  position: absolute;
  border-block-end: 1px solid rgba(241, 214, 198, 0.2);
  padding-block: 20px;
  width: 100%;
  top: 0;
  z-index: 1;
}
header .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
}
header .header_title {
  color: #ffffff;
}
header .header_menu {
  flex: 1;
}
header .header_menu_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2.5rem;
}

.hero_section {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url("../img/hero_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.hero_section::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 100%;
  background-image: url("../img/hero-bg-shape.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  pointer-events: none;
  z-index: -1;
}
.hero_section_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  transform: translateY(50%);
}
.hero_section_container_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.hero_section_container_content .hero-title {
  font-family: "Rubik", sans-serif;
  line-height: 1.3;
  font-weight: 700;
  font-size: 4.3rem;
  max-width: 60%;
  margin-bottom: 15px;
  color: #f1d6c6;
}
.hero_section_container_content .hero-subtitle {
  color: #ff9d2e;
  font-family: cursive;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-block-end: 25px;
}
.hero_section_container_content .hero-text {
  line-height: 1.7;
  max-width: 40%;
  margin-block-end: 25px;
  color: #f1d6c6;
}
.hero_section_container_figure {
  position: absolute;
  right: 50px;
  z-index: 2;
}
.hero_section_container_figure .hero-img-bg {
  position: absolute;
  right: 10%;
  width: 820px;
  height: 716px;
}
.hero_section_container_figure .hero-texture-img {
  position: absolute;
}

.food_item_section {
  position: relative;
  background-color: #f9f6f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.food_item_section .food_item_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 2rem;
  gap: 1.2rem;
  margin: 8rem auto;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
}
.food_item_section .food_item_wrapper .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-family: "Roboto", sans-serif;
  position: relative;
  gap: 1.2rem;
  text-align: center;
  flex: 1;
  padding: 40px 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  z-index: 0;
}
.food_item_section .food_item_wrapper .card .card-img {
  z-index: 2;
  height: 230px;
}
.food_item_section .food_item_wrapper .card .card-desc {
  color: #787878;
  line-height: 1.8;
}
.food_item_section .food_item_wrapper .card .card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.food_item_section .food_item_wrapper .card:hover .card-title, .food_item_section .food_item_wrapper .card:hover .card-desc {
  color: #ffffff; /* Change all text to white on hover */
}
.food_item_section .food_item_wrapper .card:hover .card-header img {
  filter: invert(1) sepia(1) saturate(5);
}
.food_item_section .food_item_wrapper .card:hover::after {
  height: 100%;
  transition: all 0.2s ease-in-out;
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
}
.food_item_section .food_item_wrapper .card::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 150px;
  background-color: #ff8d29;
  z-index: -1;
  clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
}
.food_item_section .has-scrollbar::-webkit-scrollbar {
  height: 12px;
}
.food_item_section .has-scrollbar::-webkit-scrollbar-button {
  width: calc(25% - 40px);
}
.food_item_section .has-scrollbar::-webkit-scrollbar-track {
  outline: 2px solid #ff8d29;
  background-color: #ffffff;
  border-radius: 50px;
}
.food_item_section .has-scrollbar::-webkit-scrollbar-thumb {
  border: 3px solid #ff8d29;
  border-radius: 50px;
}

.promo_section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.promo_section .promo_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3rem 0;
  gap: 2rem;
  margin: 5rem auto;
}
.promo_section .promo_wrapper .promo_figure {
  text-align: center;
  flex: 1;
}
.promo_section .promo_wrapper .promo_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 1.1rem;
}
.promo_section .promo_wrapper .promo_content .promo-heading {
  width: 80%;
}
.promo_section .promo_wrapper .promo_content .promo-features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0.8rem;
  font-weight: 500;
  margin-left: 1rem;
}
.promo_section .promo_wrapper .promo_content .promo-features .promo-feature-item {
  list-style: disc;
}
.promo_section .promo_wrapper .promo_content .promo-features .promo-feature-item::marker {
  color: #ff8d29;
}/*# sourceMappingURL=style.css.map */